html, body{
    height:100%;
    width:100%;
    margin:0;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
*{
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
}
div{
    height:70%;
    width:80%;
    border:1px black solid;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100%;
    width:100%;
}
#starter{
    position: relative;
}
#dashboard{
    display:none;
}